<h2>chart</h2>
<p>{{ title }}</p>
<ul>
     <li>{{data.answerOne}}: {{data.answerOnePoints}} </li>
     <li>{{data.answerTwo}}: {{data.answerTwoPoints}} </li>
     <li>{{data.answerThree}}: {{data.answerThreePoints}} </li>
</ul>

<noscript>
     <p>deze pagina herlaad automatisch, mocht dat niet gebeuren doe dat hier handmatig</p>
     <a href="">ververs resultaten</a>
</noscript>