<h1>{{title}}</h1>

<div>
    <form method="post" action="/question/vote">
    <fieldset>
        <legend>{{question.question}}</legend>

        <input type="radio" value="answerOnePoints" id="{{question.answerOne}}" name="opt">
        <label for="mooi">{{question.answerOne}}</label><br />

        <input type="radio" value="answerTwoPoints" id="{{question.answerTwo}}" name="opt">
        <label for="mwua">{{question.answerTwo}}</label><br />

        <input type="radio" value="answerThreePoints" id="{{question.answerThree}}" name="opt">
        <label for="lelijk">{{question.answerThree}}</label>

        <input type="text" style="display: none" name="id" value="{{ _id }}">
    </fieldset>
    <div class="button">
      <button type="submit">Verstuur je antwoord</button>
    </div>
</form>
</div>